/* Styles de base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

/* Header */
header {
    background-color: #1b1b1d;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Main Content */
main {
    flex-grow: 1;
    padding: 20px;
}

.content, .color-changer {
    margin: 20px 0;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #f1f0f5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ffffff;
}

/* Footer */
footer {
    background-color: #19191b;
    color: white;
    text-align: center;
    padding: 10px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }